<IfModule mod_rewrite.c>
SetEnv	SERVER_ADMIN arijulianto@programmer.net
#SetEnv	TZ Asia/Jakarta

RewriteEngine On
RewriteBase /ajn-framework/

Options -Indexes

# Redirect to WWW domain
#RewriteCond %{HTTP_HOST} !^www. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

# Redirect to HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# Protected Content
RewriteCond %{THE_REQUEST} ^[a-zA-Z]+\ /ajn-framework/(_media|_module|_template|_system|_administrator|_plugin)/.*$ [NC]
RewriteCond %{REQUEST_FILENAME} ^.+\.(php|html|htm|txt|jpg|png|gif|css|js|eot|svg|otf|json|woff|woff2|ttf|ttf2)$
RewriteRule ^.*$ - [F,R=403]

RewriteCond %{SCRIPT_FILENAME} -f [OR]
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^.*$ - [S=84]

# Assets Files (Template)
RewriteRule ^css/([a-zA-Z0-9-_.\/\ ]+).(css|eot|svg|otf|json|woff|woff2|ttf|ttf2)$		/ajn-framework/_template/default/css/$1.$2 [NC,QSA]
RewriteRule ^js/([a-zA-Z0-9-_.\/\ ]+).js$		/ajn-framework/_template/default/js/$1.js [NC,QSA]
RewriteRule ^images/([a-zA-Z0-9-_.\ \/]+)$		/ajn-framework/_template/default/images/$1 [NC,QSA]

# Template
RewriteRule ^template/([a-zA-Z0-9-]+)/css/([a-zA-Z0-9-_.\/\ ]+).(css|eot|svg|otf|json|woff|woff2|ttf|ttf2)$		/ajn-framework/_template/$1/css/$2.$3 [NC,QSA]
RewriteRule ^template/([a-zA-Z0-9-]+)/js/([a-zA-Z0-9-_.\/\ ]+).js$		/ajn-framework/_template/$1/js/$2.js [NC,QSA]
RewriteRule ^template/([a-zA-Z0-9-]+)/images/([a-zA-Z0-9-_.\ \/]+)$		/ajn-framework/_template/$1/images/$2 [NC,QSA]

# Media Files
RewriteRule ^media/(.*)$		/ajn-framework/_media/$1 [NC,QSA]

# Admin assets
RewriteRule ^([a-zA-Z0-9]+)/scripts/([a-zA-Z0-9-_.\/\ ]+)$		/ajn-framework/_administrator/scripts/$2 [NC,QSA]
RewriteRule ^([a-zA-Z0-9]+)/images/([a-zA-Z0-9-_.\/\ ]+)$		/ajn-framework/_administrator/images/$2 [NC,QSA]

# Index & Static Page
RewriteRule ^index.(html|htm|xhml|asp|aspx|php)$		index.php?module=home [NC,QSA]
RewriteRule ^([a-z-]+).html$		index.php?module=page&slug=$1 [NC,QSA]

# direct Module
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+).php/([a-zA-Z0-9-_\/]+).(json|xml|htm)$		index.php?module=$1&slug=$2/$3&ext=$4 [NC,QSA]
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+).php/([a-zA-Z0-9-_\/]+)(\.html)?		index.php?module=$1&slug=$2/$3 [NC,QSA]
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+).php$		index.php?module=$1&slug=$2 [NC,QSA]
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-_\/]+)$		index.php?module=$1&slug=$2 [NC,QSA]
RewriteRule ^([a-zA-Z0-9-]+)/$		index.php?module=$1 [NC,QSA]
RewriteRule ^([a-zA-Z0-9-]+)$		index.php?module=$1 [NC,QSA]

# module with extension
RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_\/\ ]+).([a-z]{2,4})$		index.php?module=$1&slug=$2&ext=$3 [NC,QSA]

# Error Page
ErrorDocument 403 /ajn-framework/_template/403.php
ErrorDocument 404 /ajn-framework/_template/404.php

</IfModule>
